---
import Skill from "./Skill.astro";
---

<section class="section_cv">
    <h2>📄 Curriculum</h2>
    <div class="cv_container">
        <a href="/cv.pdf" target="_blank" class="cv">
            <Skill svg="pdf" nombre="CV" />
        </a>
    </div>
</section>
