<header class="header">
    <h1 class="logo">Portafolio Kyoz</h1>
    <label for="menu" class="label_menu">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="svg_menu"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            ></path>
        </svg>
        <span class="span_menu">Toggle menu</span>
    </label>
    <input type="checkbox" id="menu" class="input_menu" />
    <nav class="nav">
        <ul class="ul">
            <li class="li">
                <a href="/" class="a">SOBRE MI</a>
            </li>
            <li class="li">
                <a href="/projects" class="a">PROYECTOS</a>
            </li>
            <li class="li">
                <a href="/contact" class="a">CONTACTO</a>
            </li>
            <section class="section_scheme">
                <span class="span_scheme">TEMA: </span>
                <fieldset class="fieldset_scheme">
                    <label class="label_scheme">
                        <input
                            name="color-scheme"
                            type="radio"
                            value="light dark"
                            checked
                        />SISTEMA
                    </label>
                    <label class="label_scheme">
                        <input
                            name="color-scheme"
                            type="radio"
                            value="light"
                        />CLARO
                    </label>
                    <label class="label_scheme">
                        <input
                            name="color-scheme"
                            type="radio"
                            value="dark"
                        />OSCURO
                    </label>
                </fieldset>
            </section>
        </ul>
    </nav>
</header>

<script is:inline>
    // Función para actualizar el tema en el documento y localStorage
    function updateTheme(theme) {
        // Establecer el tema en el HTML
        document.documentElement.dataset.theme = theme;
        // Guardar la preferencia en localStorage
        localStorage.setItem("theme", theme);
    }

    // Detectar cambio en la selección del tema
    const themeRadios = document.querySelectorAll('input[name="color-scheme"]');
    themeRadios.forEach((radio) => {
        radio.addEventListener("change", (event) => {
            updateTheme(event.target.value);
        });
    });

    // Recuperar y aplicar el tema guardado al cargar la página
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        updateTheme(savedTheme);
        // Marcar el radio correspondiente como seleccionado
        document.querySelector(
            `input[name="color-scheme"][value="${savedTheme}"]`,
        ).checked = true;
    }
</script>

<style>
    :root {
        --color: light-dark(#020617, #fafafa);
        --color-hover: light-dark(#b91c1c, #f87171);
        --fondo-nav: light-dark(#e2e8f0, #334155);
        --fondo-header: light-dark(#e2e8f0, #334155);
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 80px;
        background-color: var(--fondo-header);
    }

    .logo {
        color: var(--color);
    }

    .label_menu {
        cursor: pointer;

        &:hover {
            color: var(--color-hover);
        }
    }

    .svg_menu {
    }

    .span_menu {
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 0;
    }

    .input_menu {
        display: none;
    }

    .nav {
        position: absolute;
        z-index: 100;
        top: 80px;
        display: none;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 80px);
    }

    .input_menu:checked + .nav {
        display: flex;
    }

    .ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: var(--fondo-nav);
    }

    .button_tema {
        width: 40px;
        height: 40px;
    }

    .li {
        list-style: none;
    }

    .a {
        color: var(--color);
        text-decoration: none;

        &:hover {
            color: var(--color-hover);
        }
    }

    .section_scheme {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .span_scheme {
    }

    .fieldset_scheme {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 10px;
    }

    .label_scheme {
        cursor: pointer;

        &:hover {
            color: var(--color-hover);
        }
    }
</style>
